*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --padding-side: 1.25rem;
  }

body {
    font-family: 'Source Sans 3', sans-serif;
}

main { background-color: #FAFAFA; }

.hero-post img, .blog-post img {
    display: block;
    width: 100%
}

/* Header and navigation */

header {
    height: 59px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    padding: 1.063em 1.53em 1.438em 1.25em;
}

.logo-img { margin-right: .2em; }

.header-title {
    font-family: 'roboto', sans-serif !important;
    font-size: .85rem !important;
    color: #0E0E0E !important;
}

.logo-img, .header-title, .nav-home, .nav-about {
    align-self: center;
}

.nav-home, .nav-about {
    font-weight: 600;
    font-size: 0.75rem !important;
    color: #090909;
}

.nav-about {
    margin-left: 2.8em;
}

/* Hero section */

.hero-post{
    background-image: url("../images/blog-image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 5.438em var(--padding-side) 1.563em var(--padding-side);
    min-height: 293px;
}

.hero-date { font-size: 0.75rem; }

.hero-title {
    font-size: 2rem;
    line-height: 108.2%;
    --letter-spacing: calc(-0.003 * 2rem);
    letter-spacing: var(--letter-spacing);
    color: inherit;
}

.hero-desc { line-height: 130%;}

/* Blog section */

.blog-section {
    padding: 2.125em var(--padding-side) 1.69em var(--padding-side);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2.56em;
}

.blog-post {
    display: grid;
    gap: .875em;
}

.blog-date { font-size: 0.919rem; }

.blog-title {
    font-size: 1.5rem;;
    line-height: 108.2%;
    color: #141414;
}

.blog-content {
    line-height: 125%;
    color: #505050;
}

.view-more {
    text-decoration: underline;
    padding-bottom: 2.6875em;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #202020;
    color: #ECECEC;
    height: 105px;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #D7D7D7;
    font-weight: 400;
}

/* Shared by About and Post page */

.post-container {
    padding: 1.625em var(--padding-side) 0 var(--padding-side);
    color: #151515;
}

.post-content-container {
    display: grid;
    gap: 1.25rem;
    margin: 1.215em 0 1.25rem 0;
}

.recent-posts {
    padding-top: 1.5625em;
}

.extra-padding {
    padding-bottom: 3.5em;
}

/* About page */

.profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Post page */

.post {
    background-image: none;
    color: #151515;
    padding: 0.75em 0 1em 0;
}

.post-desc, .profile-desc {
    padding-bottom: 2rem;
    background-image: none;
}

/* Shared classes */

.bold {
    font-weight: 700;;
}

a {
    text-decoration: none;
}

.align-center {
    text-align: center;;
}

.uppercase {
    text-transform: uppercase;
}

@media (min-width:700px ) {

    .header-title {
        font-size: 1rem !important;
    }
    
    .nav-home, .nav-about {
        font-size: 0.9rem !important;
    }
}


@media (min-width: 1000px) {
    
    :root {
        --padding-side: 3.25rem;
        --padding-side-secondary: 5.75rem
      }
    
    header {
        height: 83px;
    }

    .hero-post {
        min-height: 488px;
        padding-bottom: 3.704em;
    }

    .blog-section {
        padding-top: 3.1875em;
    }

    .post-container {
        padding-top: 4.44em;
        padding-bottom: 4.44em;
    }

    .post-content-container,
    .post-date, .post-title, .post-desc  {
        padding-left: var(--padding-side-secondary);
        padding-right: var(--padding-side-secondary);
    }

    .profile-container {
        display: grid;
        grid-template-areas:
            "img title"
            "img desc";
        align-items: start;
        padding-bottom: 3em;
    }
    
    .profile-img {
        grid-area: img;
        margin-right: 2em;
      }
    
}

@media (min-width: 1200px) {
    :root {
        --padding-side: 9.25rem;
    }
}